@import "tailwindcss";

@font-face {
  font-family: 'LINESeedSansTH';
  src: url('/fonts/LINESeedSansTH_A_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedSansTH';
  src: url('/fonts/LINESeedSansTH_A_Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedSansTH';
  src: url('/fonts/LINESeedSansTH_A_He.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'LINESeedSansTH', sans-serif;
}